<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>お問い合わせ一覧</title>
</head>

<body>
	<h1>お問い合わせ一覧</h1>
	<form th:action="@{/admin/contacts}" method="post" th:object="${contactForm}">
		<table border="1">
			<tr>
				<td>姓</td>
				<td>
					<p>[[${contactForm.lastName}]]</p>
				</td>
			</tr>
			<tr>
				<td>名</td>
				<td>
					<p> [[${contactForm.firstName}]]</p>
				</td>
			</tr>
			<tr>
				<td>お問い合わせ種別</td>
				<td>
					<select name="contactType" th:field="*{contactType}">
						<option th:value="services">サービスに関するお問い合わせ</option>
						<option th:value="technicalQuestions">技術的なお問い合わせ</option>
						<option th:value="others">その他</option>
					</select>
					<span th:if="${#fields.hasErrors('contactType')}" th:errors="*{contactType}"
						style="color: red"></span>
				</td>
			</tr>
			<tr>
				<td><label for="createdAt">作成日時</label></td>
				<td>
					<span th:text="*{createdAt}"></span>
				</td>
			</tr>

			<tr>
				<td><label for="updatedAt">更新日時</label></td>
				<td>
					<span th:text="*{updatedAt}"></span>
				</td>
			</tr>
		</table>
		<input type="submit" value="詳細">
	</form>
	<a th:href="@{/admin/signin}">ログアウト</a>
</body>

</html>