<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>ログイン</title>
</head>

<body>
	<h2>ログイン画面</h2>
	<form th:action="@{/admin/signin}" method="post" th:object="${loginForm}">
		<div>
			<label>メールアドレス</label>
			<input type="text" th:field="*{email}" />
			<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
		</div>
		<div>
			<label>パスワード</label>
			<input type="password" th:field="*{password}" />
			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></span>
		</div>
		<div>
			<input type="submit" value="ログイン" />
		</div>
	</form>
	<a th:href="@{/admin/signup}">新規登録はこちら</a>
</body>

</html>